<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Number Guessing Game</title>
  <meta name="description" content="The number guessing game">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

<body>


  <div id="main-gameApp">

  <!--- Main page styling with bootstrap -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Guessing Game</h1>
        <p class="lead">Select any one of the four games to play</p>
        <p class="lead"> Player Score: {{ playerScore }} </p>
      </div>
    </div>

  </div>

  <div class="card-deck mx-auto">
    <!--- The first game -->
    <div id="game-One">

      <div class="card text-white bg-secondary mb-3" v-if="instructionShown" style="max-width: 18rem;">
        <div class="card-header">Game #1</div>
        <div class="card-body">
          <p class="card-text">The game will generate a random number between 0 and 99, you have to guess the number. The game will tell you if your guess is higher or lower than the answer.</p>
          <input type="button" class="btn btn-primary" value="Play" v-on:click="startGameOne">
        </div>
      </div>

      <!--- Actual game -->
      <div v-if="gameShown">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; min-width: 18rem;">
          <div class="card-body">

            <div class="alert alert-primary" v-if="alertStart" role="alert">Start out with any guess between 0-99</div>
            <div class="alert alert-secondary" v-if="alertRight" role="alert">You got the right answer in {{ numberOfGuesses }} guess/es</div>
            <div class="alert alert-danger" v-if="alertLower" role="alert">Try lower</div>
            <div class="alert alert-warning" v-if="alertHigher" role="alert">Try higher</div>
            <div class="alert alert-info" v-if="alertError" role="alert">Error, please enter a number between 0-99</div>

            <p v-if="lastGuessShown"> Your last guess: {{ lastGuess }} </p>

            <input type="number" class="form-control" id="gameOneInput" min="0" max="99">
            <input type="button" v-if="finishGame" class="btn btn-primary" value="Guess" v-on:click="guessNumber">
            <input type="button" v-if="!finishGame" class="btn btn-primary" value="Back" v-on:click="quitGame">
          </div>
        </div>
      </div>



    </div>



    <div id="game-Two">

      <div class="card text-white bg-secondary mb-3" v-if="instructionShown" style="max-width: 18rem;">
        <div class="card-header">Game #2</div>
        <div class="card-body">
          <p class="card-text">The game will generate a random number between 0 and 99, you have to guess the number. The game will tell you if your guess is hot or cold.</p>
          <input type="button" class="btn btn-primary" value="Play" v-on:click="startgameTwo">
        </div>
      </div>

      <!--- Actual game -->
      <div v-if="gameShown">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; min-width: 18rem;">
          <div class="card-body">

            <div class="alert alert-primary" v-if="alertStart" role="alert">Start out with any guess between 0-99</div>
            <div class="alert alert-secondary" v-if="alertRight" role="alert">You got the right answer in {{ numberOfGuesses }} guess/es</div>
            <div class="alert alert-danger" v-if="alertCold" role="alert">Cold</div>
            <div class="alert alert-warning" v-if="alertCool" role="alert">Cool</div>
            <div class="alert alert-danger" v-if="alertHot" role="alert">Hot</div>
            <div class="alert alert-warning" v-if="alertWarm" role="alert">Warm</div>
            <div class="alert alert-info" v-if="alertError" role="alert">Error, please enter a number between 0-99</div>

            <p v-if="lastGuessShown"> Your last guess: {{ lastGuess }} </p>

            <input type="number" class="form-control" id="gameTwoInput" min="0" max="99">
            <input type="button" v-if="finishGame" class="btn btn-primary" value="Guess" v-on:click="guessNumber">
            <input type="button" v-if="!finishGame" class="btn btn-primary" value="Back" v-on:click="quitGame">
          </div>
        </div>
      </div>



    </div>



    <div id="game-Three">

      <div class="card text-white bg-secondary mb-3" v-if="instructionShown" style="max-width: 18rem;">
        <div class="card-header">Game #3</div>
        <div class="card-body">
          <p class="card-text">In this game the user mentally selects a number. Then the computer tries to guess it and you tell the computer if the guesses are lower or higher.</p>
          <input type="button" class="btn btn-primary" value="Play" v-on:click="startGameThree">
        </div>
      </div>

	  <div v-if="gameShown">
		<div class="card text-white bg-secondary mb-3" style="max-width: 18rem; min-width: 18rem;">
          <div class="card-body">

            <div class="alert alert-primary" v-if="alertStart" role="alert">My initial guess is: {{ initialGuess }}</div>
            <div class="alert alert-secondary" v-if="alertRight" role="alert">Your number was guessed in {{ numberOfGuesses }} guess/es</div>
            <div class="alert alert-danger" v-if="alertGuess" role="alert">My guess is now: {{ initialGuess }}</div>
			<div class="alert alert-info" v-if="alertError" role="alert"> You cheated !!!</div>


            <p> Current number of guesses: {{ numberOfGuesses }} </p>

            <input type="button" v-if="finishGame" class="btn btn-primary" value="Higher" v-on:click="guessHigher">
			<input type="button" v-if="finishGame" class="btn btn-primary" value="Right" v-on:click="guessRight">
			<input type="button" v-if="finishGame" class="btn btn-primary" value="Lower" v-on:click="guessLower">

            <input type="button" v-if="!finishGame" class="btn btn-primary" value="Back" v-on:click="quitGame">
          </div>
        </div>

	  </div>

    </div>

    <div id="game-Four">

      <div class="card text-white bg-secondary mb-3" v-if="instructionShown" style="max-width: 18rem;">
        <div class="card-header">Game #4</div>
        <div class="card-body">
          <p class="card-text">In this game the user mentally selects a number. Then the computer tries to guess it and you tell the computer if the guesses are cold, cool, warm, hot or right.</p>
          <input type="button" class="btn btn-primary" value="Play" v-on:click="startGameFour">
        </div>
      </div>

    <div v-if="gameShown">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; min-width: 18rem;">
          <div class="card-body">

            <div class="alert alert-primary" v-if="alertStart" role="alert">My initial guess is: {{ initialGuess }}</div>
            <div class="alert alert-secondary" v-if="alertRight" role="alert">Your number was guessed in {{ numberOfGuesses }} guess/es</div>
            <div class="alert alert-danger" v-if="alertGuess" role="alert">My guess is now: {{ initialGuess }}</div>
      <div class="alert alert-info" v-if="alertError" role="alert"> You cheated !!!</div>


            <p> Current number of guesses: {{ numberOfGuesses }} </p>

            <input type="button" v-if="finishGame" class="btn btn-primary" value="Higher" v-on:click="guessHigher">
      <input type="button" v-if="finishGame" class="btn btn-primary" value="Right" v-on:click="guessRight">
      <input type="button" v-if="finishGame" class="btn btn-primary" value="Lower" v-on:click="guessLower">

            <input type="button" v-if="!finishGame" class="btn btn-primary" value="Back" v-on:click="quitGame">
          </div>
        </div>

    </div>

    </div>





  </div>



  <script src="src/GameOne.js"></script>
  <script src="src/GameTwo.js"></script>
  <script src="src/GameThree.js"></script>
  <script src="src/GameFour.js"></script>
  <script src="src/Game.js"></script>


</body>
</html>
